input {
  background-color: aqua;
  max-width: 50px;
  height: 25px;
  text-align: center;
}

.price {
  color: coral;
}

.currency {
  color: brown;
}

.users {
  color: brown;
  & span {
    color: coral;
  }
}

.button {
  height: 25px;
  background-color: brown;
  color: darkkhaki;
  border-radius: 5px;
}
